# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# hdf5 files
*.h5

# result
*.result

# bin
bin/*

# IMAGENET data
data/IMAGENET12*

# DIDI data
data/DIDI*

# CIFAR10 data
data/CIFAR10*
