[submodule "third-party/yaml-cpp"]
	path = third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third-party/libxsmm"]
	path = third-party/libxsmm
	url = https://github.com/hfp/libxsmm.git
[submodule "third-party/glog"]
	path = third-party/glog
	url = https://github.com/google/glog
